asgiref==3.6.0
backports.zoneinfo==0.2.1
Django==3.2
django-ckeditor==6.5.1
django-cors-headers==3.13.0
django-countries==7.3.2
django-crispy-forms==1.13.0
django-filter==21.1
django-js-asset==2.0.0
django-require-login==1.1.2
djangorestframework==3.13.1
mysqlclient==2.0.3
mysqlclient==2.0.3
Pillow==8.3.2
mysqlclient==2.0.3
Pillow==8.3.2
pytz==2021.1
PyYAML==6.0
sqlparse==0.4.2
typing_extensions==4.3.0
tzdata==2022.1