{% extends 'mainweb/main.html' %}

{% load static %}

{% block content %}

<!-- ======= Hero Section ======= -->
{% include 'mainweb/sliders.html ' %}

<main id="main">
   <!-- events -->
   <section id="blog" class="blog mt-p">
    <div class="container">

      <div class="row">

        <div class="col-lg-12 entries">
          <article class="entry" data-aos="fade-up">

            <div class="entry-img">
              <img width="100%" src="{{events.imageURL}}" alt="" class="img-fluid">
            </div>

            <h2 class="entry-title">
              <a href="">{{events.name|title}}</a>
            </h2>

            <div class="entry-meta">
              <ul>
                <li class="d-flex align-items-center"><i class="icofont-user"></i> <a href="">admin</a></li>
                <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a href=""><time datetime="2020-01-01">{{querryset.date}}</time></a></li>
                <li class="d-flex align-items-center"><i class="icofont-comment"></i> <a href="">***</a></li>
              </ul>
            </div>
            <div class="entry-content">
              <p class="text-justify">{{events.description|safe}}</p>
              <div class="read-more">
                <a href="{% url 'mainweb:contactus' %}">contact Us</a>
              </div>
            </div>
          </article><!-- End blog entry -->       
        </div><!-- End blog entries list -->
      </div>

    </div>
  </section>
   
  <!-- end of events -->

</main>

{% endblock content %}