  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Company</h3>
          {% for location in locate|slice:":1" %}
            <p>{{ location.Company_name }}</p>
            <p>{{ location.P_o_box_no }} </p>
          {% endfor %}
          <br>

          {% for emails in emailz|slice:":1" %}
            <p>Email: {{emails.email}}</p>
          {% endfor %}

          {% for phone in phones|slice:":1" %}
           <p>Tel: {{phone.Phone_number}}</p>
          {% endfor %}
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'mainweb:aboutpage' %}">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'mainweb:servicespage' %}">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'mainweb:teampage' %}">Check Team</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Our Projects</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              {% for serv in querryset|slice:"5" %}
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'mainweb:service' serv.id %}">{{serv.name}}</a></li>
              {% endfor %}
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Subscibe for our daily updates</p>
            <form action="" method="">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Company</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
         
          Designed by <a href="">Bradiepoa</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->