{% extends 'mainweb/main.html' %}
{% load static %}
{% block content %}

<!-- ======= Hero Section ======= -->
{% include 'mainweb/sliders.html ' %}

<main id="main">

	<!-- ======= About Us Section ======= -->
    {% include 'mainweb/background.html ' %}

<!-- trying service sliders -->
  <section class="service services section-bg bg-info">
    <div class="container" data-aos="fade-up">
      <h2 class="service-category">Our Companies</h2>
      <a class="pre-btn"><img src="{% static 'slider/images/arrow.png' %}" alt=""></a>
      <a class="nxt-btn"><img src="{% static 'slider/images/arrow.png' %}" alt=""></a>
      <div class="service-container">
      {% for service in services %}
        <div class="service-card">
            <div class="service-image">
                <img class="service-thumb" src="{{service.imageURL}}" alt="Card image" style="width:1000px; height:400px;">
                <a target="_blank" href="{{service.our_link}}" class="card-btn stretched-link">Read More</a>
            </div>
            <div class="service-info">
              <h5 class="service-name">{{service.name|truncatewords:5}}</h5>
                <p class="card-text">{{service.description|truncatewords:10|safe}}</p>
            </div>
        </div>
      {% endfor %}  
    </div>
  </div>
</section>
<!-- end of service slides -->

 <!-- sPatterner section --> 
  <!-- sPatterner section -->
  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">
      <h3>Our Patterners</h3>
      <div class="row">
        {% for patterns in patt|slice:":3" %}
        <div class="col-lg-4 entries d-flex align-items-stretch"  data-aos-delay="100">
          <article class="entry" data-aos="fade-up">
            <h5>
              <a class="pattern" href="">{{patterns.name}}</a>
            </h5><br>

            <div class="entry-meta">
              <ul>
                <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a href=""><time datetime="2020-01-01">{{ patterns.Date_joined }}</time></a></li>
              </ul>
            </div>

            <div class="entry-content">
              <p class="text-justify">
                {{patterns.description}}
              </p>
            </div>
          </article><!-- End blog entry -->
        </div>
        {% endfor %}         

       <!--  <a href="">More</a> -->

      </div>
    </div>
  </section><!-- End Patterner section -->

  
    <section>
      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="jumbotron jumbotron-fluid bg-info">
          <div class="row">
            <div class="col-lg-8 m-5">
              {% for danation in dona|slice:":1" %}
                <p class="m-5">{{danation.description|safe}}</p>
              {% endfor %}
            </div>
            <div class="col-lg-3 m-3">
              <a class="btn btn-lg btn-primary"  href="">Contact us</a>
            </div>
          </div>
        </div>    
      </div>
    </section>



    <!-- events -->
    <section id="blog" class="blog" style="background-image: url({% static 'slider/images/bg_5.jpg' %});">
      <div class="container" data-aos="fade-up">
        <h3>Our events</h3>
        <div class="row">

          <div class="col-lg-4 entries">
            <article class="entry bg-primary" data-aos="fade-up">
              <h5>
                <a class="pattern" href="">Uganda Aids commission</a>
              </h5><br>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a href=""><time datetime="2020-01-01">March 04 04</time></a></li>
                </ul>
              </div>

              <div class="entry-content">
                <p class="text-justify">
                  Our simple goal? Do what it takes to accelerate brands on ecommerce. That drive to help our partners win informs
                </p>
              </div>
            </article><!-- End blog entry -->
          </div>
         
          <div class="col-lg-4 entries">
            <article class="entry bg-primary" data-aos="fade-up">
              <h5>
                <a class="pattern" href="">Uganda Aids commission</a>
              </h5><br>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a href=""><time datetime="2020-01-01">March 04 04</time></a></li>
                </ul>
              </div>

              <div class="entry-content">
                <p class="text-justify">
                  Our simple goal? Do what it takes to accelerate brands on ecommerce. That drive to help our partners win informs
                </p>
              </div>
            </article><!-- End blog entry -->
          </div>

          <div class="col-lg-4 entries">
            <article class="entry bg-primary" data-aos="fade-up">
              <h5>
                <a class="pattern" href="">Uganda Aids commission</a>
              </h5><br>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a href=""><time datetime="2020-01-01">March 04 04</time></a></li>
                </ul>
              </div>

              <div class="entry-content">
                <p class="text-justify">
                  Our simple goal? Do what it takes to accelerate brands on ecommerce. That drive to help our partners win informs
                </p>
              </div>
            </article><!-- End blog entry -->
          </div>
        </div>
      </div>
    </section>
    <!-- end of events -->
</main>

{% endblock content %}